<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-heading">
        Configurar Gimnasios
      </div>
      <div class="panel-body">
        <%= form_for @studio, url: settings_studio_path, html: { class: 'form-horizontal' } do |f| %>
          <%= render 'layouts/shared/errors', object: @studio %>
          <div class="form-group">
            <%= f.label 'Nombre', class: 'col-lg-2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'Dirección', class: 'col-lg-2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <%= f.text_field :street_address, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'Ciudad', class: 'col-lg-2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <%= f.text_field :city, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'Provincia', class: 'col-lg-2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <%= f.subregion_select :state, 'EC', include_blank: 'None' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'Código Postal', class: 'col-lg-2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <%= f.text_field :zip, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'Teléfono', class: 'col-lg-2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <%= f.text_field :phone, "placeholder data-mask" => "(999) 999-9999", class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, class: 'col-lg-2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'Zona Horaria', class: 'col-lg-2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <%= f.collection_select :time_zone, ActiveSupport::TimeZone.us_zones, :name, :to_s %>
            </div>
          </div>
          <br/>
          <%= f.submit 'Actualizar Gimnasio', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
