<div class="row">
  <div class="col-lg-10">
    <div class="panel">
      <div class="panel-heading">
        Nueva Nota
      </div>
      <div class="panel-body">
        <%= form_for @note, url: member_notes_path(@member), method: 'post', html: { class: 'form-horizontal' } do |f| %>
          <%= render 'layouts/shared/errors', object: @note %>
          <div class="form-group">
            <div class="col-lg-10">
              <%= f.text_area :body, class: 'form-control' %>
            </div>
          </div>
          <br/>
          <%= f.submit nil, class: 'btn btn-primary' %>
          <%= link_to 'Cancel', @member, class: 'btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
